<%- include('header') %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Awesome!!</h1>
        <p class="lead">Successfully Registered.</p>
      </div>
    </div>

    <%- include('footer') %>
